<a class="navbar-brand" href="{{@site.url}}">{{@site.title}}</a>

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#thief-menu" aria-controls="thief-menu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="thief-menu">
    {{#if @site.navigation}}
        {{navigation}}
    {{/if}}
    {{!-- {{#is "post"}}
        <span class="nav-post-title {{#unless @site.logo}}dash{{/unless}}">{{post.title}}</span>
    {{/is}} --}}

    <ul class="navbar-nav ml-auto social-links">
        <li class="nav-item"><a href="https://thiefmd.com/sponsors" class="nav-link">Sponsors</a></li>
        <li class="nav-item"><a href="https://github.com/kmwallio/ThiefMD" class="nav-link">GitHub</a></li>
        <li class="nav-item"><a href="https://thiefmd.com/download" class="nav-link">Download</a></li>
    </ul>
</div>
